* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  .home,
  .atualizar,
  .cadastrar,
  .login,
  .deletar,
  .buscar {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  h3{
    text-align: center;
  }

  .atualizar {
    background-image: url('/images/img-9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .deletar {
    background-image: url('/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .login {
    background-image: url('/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .buscar {
    background-image: url('/images/img-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .cadastrar {
    background-image: url('/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .busca-clientes{
    text-align: left;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 15rem;
    padding: 25px;
    padding-left: 20px;
  }

  .caixa-busca{    
    background-color:#F2F2F2;    
    border:solid 1px;    
    border-radius:15px;    
    width:400px;
     
  }    
  
  .txtBusca{    
    float:left;    
    background-color:#CEE3F6;    
    padding-left:5px;   
     font-style:normal;    
     font-size:18px;    
     border:none;    
     height:32px;    
     width:260px;  
    text-align: center;
    }

    .dados-clientes{
      padding-top: 30px;
      padding-left:5px;
    }

    th{
      border: black;
    }